[submodule "etiss"]
	path = etiss
	url = git@github.com:danielschloms/etiss.git
	branch = daniel-dev
[submodule "etiss_plugins/SoftwareEvalLib"]
	path = etiss_plugins/SoftwareEvalLib
	url = git@github.com:danielschloms/SoftwareEvalLib.git
	branch = daniel-dev
